<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-posn5"
        version="0.1.0">

  <name>PosN5</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/posn5.js" target="js/posn5.js"/>

  <js-module src="www/posn5.js" name="posn5">
    <clobbers target="posn5" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PosN5">
        <param name="android-package" value="com.example.plugin.PosN5"/>
      </feature>
    </config-file>
    
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
    </config-file>
    
    <source-file src="src/android/libs/nexgo-smart-sdk-2.0.6.jar" target-dir="libs" />
    <source-file src="src/android/libs/armeabi/libnexgo_emvjni.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/armeabi/libnexgo_gencode.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/armeabi/libnexgo_sdkemvjni.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/gson-2.6.1.jar" target-dir="libs" />
    <source-file src="src/android/PosN5.java" target-dir="src/com/example/plugin/"/>
    <source-file src="src/android/util/Order.java" target-dir="src/com/example/plugin/util/"/>
  </platform>

</plugin>